rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /user/{user} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveyLibrary/{surveyLibrary} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveyAdminOffice/{surveyAdminOffice} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveySecurityOffice/{surveySecurityOffice} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveyRegistrarOffice/{surveyRegistrarOffice} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveyCashierOffice/{surveyCashierOffice} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /surveyRemarks/{surveyRemarks} {
            allow create: if  true;

            allow read: if true;

            allow update: if true;

            allow delete: if false;
        }

        match /admins/{admins} {
            allow create: if  true;

            allow read: if true;

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /questionsLibrary/{questionsLibrary} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /regardsLibrary/{regardsLibrary} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }       

        match /questionsAdmin'sOffice/{questionsAdmin'sOffice} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /regardsAdmin'sOffice/{regardsAdmin'sOffice} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }  

        match /questionsSecurityOffice/{questionsSecurityOffice} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /regardsSecurityOffice/{regardsSecurityOffice} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }  

        match /questionsRegistrar/{questionsRegistrar} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /regardsRegistrar/{regardsRegistrar} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }  

        match /questionsCashier/{questionsCashier} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }

        match /regardsCashier/{regardsCashier} {
            allow create: if isAuthenticated();

            allow read: if isAuthenticated();

            allow update: if isAuthenticated();

            allow delete: if isAuthenticated();
        }  


        function isAuthenticated(){
            return request.auth != null;
        }


    }
}

// To deploy rules, just run firebase deploy --only firestore:rules